<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.vcu.team100_minigolfapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Scorecard Pro"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team100_miniGolfApp">
        <activity
            android:name=".Settings"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Results"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ScoreCard"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CreateNewGame"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>